# Deployment must only be done through CircleCI.
# There is no need for a local env file.
# Circle should have access to the following:

STAGING_DEPLOY_BUCKET=
STAGING_CLOUDFRONT_DIST_ID=
PROD_DEPLOY_BUCKET=
PROD_CLOUDFRONT_DIST_ID=
GITHUB_TOKEN=